.principal {
  width: 100%;
  margin: auto;
}

body{
  background-color: #D8EDDE
}

.producto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background: #051f20;
  padding: 15px;
  margin: 15px 0;
  border-radius: 12px;
}

.producto .imagen img {
  width: 60px;
  height: auto;
}

.producto h3 {
  flex: 1;
  margin: 0 20px;
  font-size: 16px;
}

.producto button {
  margin-right: 20px;
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  background: #00d084;
  color: 051f20;
  cursor: pointer;
}

.producto .precio {
  font-weight: bold;
  font-size: 18px;
}
